/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Contenedor central */
.container {
    width: 90%;
    max-width: 350px; /* Hacemos el contenedor más angosto */
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Centrar solo el título */
.container h2 {
    text-align: center; /* Centra solo el título */
    font-size: 20px;
    margin-bottom: 20px;
}

/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column; /* Alineación vertical de los elementos */
    gap: 15px; /* Espacio entre los elementos */
}

form label {
    font-size: 16px;
    margin-bottom: 5px; /* Espacio entre el texto y el input */
    text-align: left; /* Alineación a la izquierda para las etiquetas */
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%; /* Hace que los campos ocupen todo el ancho */
    box-sizing: border-box; /* Hace que el padding no afecte el ancho total */
}

form button {
    padding: 12px;
    background-color: #dc3545; /* Color de fondo rojo */
    color: white; /* Color del texto */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s; /* Transición suave para el cambio de color */
}

/* Efecto cuando el puntero está sobre el botón */
form button:hover {
    background-color: #6c757d; /* Color de fondo gris cuando el puntero pasa sobre el botón */
    color: black; /* Color de texto negro cuando el puntero pasa sobre el botón */
}

/* Logo */
.logo {
    width: 100%; /* Mantiene el 100% del ancho disponible del contenedor */
    max-width: 100px; /* Reduce el tamaño máximo a 100px */
    margin: 0 auto 20px; /* Centra la imagen y le da espacio abajo */
    display: block; /* Asegura que la imagen sea un bloque para poder centrarla */
}


/* Hacer el formulario responsive */
@media (max-width: 600px) {
    .container {
        width: 90%;  /* Mantén el ancho flexible */
        margin: 20px;
    }
    form {
        padding: 15px; /* Reducir el padding del formulario para aprovechar más espacio */
    }
}
